<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/ic_launcher_mintime"
        android:label="@string/app_name">

        <activity
            android:name="com.thomaskuenneth.mintime.MinTime"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.thomaskuenneth.mintime.AlarmReceiver"
            android:enabled="true" />

        <receiver
            android:name="com.thomaskuenneth.mintime.RepeatingAlarm"
            android:enabled="true" />

    </application>

</manifest>
