# Default ignored files
/shelf/
/workspace.xml

/caches/
/gradle.xml
/kotlinc.xml
/migrations.xml
/studiobot.xml
/migrations.xml
/gradle.xml
/workspace.xml
/misc.xml
/deploymentTargetSelector.xml

compiler.xml
other.xml
runConfigurations.xml
